/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$banerHeight: 600px !default;
$banner: url(../images/banner.jpg) !default;
input,textarea {
    outline: none;
}
.clearfix:after {
    display:block;visibility:hidden;clear:both;height:0;width:0;content:".";
}
body{
    width: 100%;
    height: 100%;
    font:12px "Microsoft YaHei";
    background-color:#ededea;
}
.g-header {
    height: 50px;
    width: 100%;
    float: left;
    background-color:white;
    .g-logo {
        height: 29px;
        width: 97px;
        float: left;
        margin-left: 41px;
        margin-top: 12px;
    }
    ul.g-left_list {
        height: 18px;
        width: auto;
        padding-top:10px;
        float: left;
        margin-top: 12px;
        li.g-left_list_li {
            height: 100%;
            float: left;
            width: 32px;
            margin-left: 23px;
            a {
                width: 100%;
                height: 100%;
                float: left;
                display: block;
            }
            div.dots{
                position:relative;
                width: 100%;
                height: 100%;
                .triangle_top {
                    width: 0;
                    height: 0;
                    position: absolute;
                    z-index: 3;
                    top: 25px;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 14px white solid;
                    display: none;
                }
            }
            ul.dots_ul {
                width: 180px;
                height: 20px;
                position:absolute;
                top: 39px;
                left: -50px;
                border-radius:2px;
                background-color:white;
                padding:10px 13px;
                display: none;
                z-index: 3;
                li,span {
                    width: auto;
                    height: auto;
                    float: left;
                    color: #999999;
                    cursor: pointer;
                }
                li a {
                    width: auto;
                    height: auto;
                    color: #999999;
                    display: block;
                    text-decoration: none;
                    font-size: 16px;
                    line-height: 20px;
                }
                li a:hover {
                    text-decoration: underline;
                }
            }        
        }
        li.g-block1 {
            background: url(../images/g-banner1.png) no-repeat;
        }
        li.g-block2 {
            background: url(../images/g-banner2.png) no-repeat;
        }
        li.g-block3 {
            width: 64px;
            background: url(../images/g-banner3.png) no-repeat;
        }
        li.g-block4 {
            width: 20px;
            background: url(../images/g-banner4.png) center no-repeat;
            position:relative;
        }
    }
    /*  g-enter是未登录样式
        g-entered是已登录样式
     */
    .g-enter {
        height: 15px;
        width: 63px;
        float: right;
        margin: 25px 88px 0 0;
        color: black;
        text-decoration: none;
    }
    .g-entered {
        width: 149px;
        height: 100%;
        position:relative;
        float: right;
        margin-right: 49px;
        border:#cbcbcb 1px solid;
        border-width: 0 1px;
        .triangle {
            width: 0;
            height: 0;
            border-bottom: 10px solid #cbcbcb;
            border-left: 10px solid transparent;
            position:absolute;
            right: 0;
            bottom: 0;
        }
        .person_head {
            width: 29px;
            height: 29px;
            float: left;
            margin:12px 0 0 24px;
        }
        .person_name {
            width: auto;
            height: 29px;
            float: left;
            margin: 12px 0 0 12px;
            font-size: 14px;
            line-height: 29px;
            color: #070a22;
            cursor: pointer;
        }
        ul.g-right_list {
            width: 100%;
            height: 0;
            position: absolute;
            float: left;
            top: 50px;
            overflow: hidden;
            background-color:white;
            z-index: 3;
            li {
                width: 100%;
                height: 39px;
                float: left;
                div {
                    float: left;
                    display: block;
                    background-color:white;
                    margin: 7px 0 0 24px;
                }
                a {
                    width: 100%;
                    height: 100%;
                    float: left;
                    display: block;
                }
                a:hover {
                    background-color: #e0e0e0;
                }
                .icon1 {
                    width: 27px;
                    height: 25px;
                    background:url(../images/right-list1.png) no-repeat;
                }
                .icon2 {
                    width: 27px;
                    height: 18px;
                    margin-top: 10px;
                    background:url(../images/right-list2.png) no-repeat;
                }
                .icon3 {
                    width: 27px;
                    height: 28px;
                    margin-top: 5px;
                    background:url(../images/right-list3.png) no-repeat;
                }
                .icon4 {
                    width: 27px;
                    height: 22px;
                    background:url(../images/right-list4.png) no-repeat;
                }
                p {
                    width: auto;
                    height: 100%;
                    float: left;
                    font-size: 14px;
                    color: black;
                    line-height: 39px;
                    margin-left: 20px;
                }
            }

        }
    }
    .g-search {
        width: 446px;
        height: 35px;
        float: right;
        margin: 8px 14px 0 0;
        input[type=text] {
            width: 388px;
            height: 33px;
            float: left;
            border:#dddcdc 1px solid;
            font-size: 18px;
            padding: 0 5px;
            color: black;
        }
        input[type=submit] {
            width: 33px;
            height: 33px;
            float: left;
            margin-top: 2px;
            margin-left: 13px;
            background:url(../images/search_head.png) no-repeat;
            cursor: pointer;
            background-size:100%;
        }
    }

}
.g-banner {
    height: $banerHeight;
    width: 100%;
    float: left;
    background: $banner no-repeat;
    position:relative;
    .search {
        width: 800px;
        height: 57px;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        input[type=text] {
            width: 706px;
            height: 55px;
            float: left;
            border:white 1px solid;
            font-size: 24px;
            padding: 0 5px;
            background-color: rgba(255,255,255,0.2);
            color: black;
        }
        input[type=submit] {
            width: 53px;
            height: 52px;
            float: left;
            margin-top: 2px;
            margin-left: 20px;
            background:url(../images/search.png) no-repeat;
            cursor: pointer;
        }
    }
}
.g-mid {
    height: auto;
    width: 100%;
    float: left;
}
.g-footer{
    height: 123px;
    width: 100%;
    float: left;
    background: url(../images/footer.png) repeat;
    border-top:#cbcbcb 1px solid;
    .g-footer_main {
        width: 1000px;
        height:83px;
        padding:20px 0;
        margin:0 auto;
        .g-logo_big {
            width: 201px;
            height: 83px;
            float: left;
            background: url(../images/logo_big.png) no-repeat;
            margin-right: 55px;
        }
        ul.g-footer_links {
            height: 100%;
            width: auto;
            float: left;
            margin-right: 36px;
            li {
                width: 100%;
                height: 20px;
                font-size: 14px;
                line-height: 20px;
                font-weight: 900;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    color:#070a22;
                    text-decoration: none;
                }
            }
            li.link_head {
                height: 28px;
                color: #e8554e;
                font-size: 18px;
                line-height: 28px;
            }
        }
        .g-footer_copy {
            height: 51px;
            width: 450px;
            padding-top: 32px;
            float: left;
            ul.footer_list {
                li,span {
                    width: auto;
                    height: auto;
                    float: left;
                    color: #070a22;
                    cursor: pointer;
                    font-weight: 900;
                }
                li a {
                    width: auto;
                    height: auto;
                    color: #070a22;
                    display: block;
                    text-decoration: none;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            p {
                width: 100%;
                float: left;
                font-weight: 900;
                color: #070a22;
            }
        }
    }
}
.m-act_out {
    width: 300px;
    height: 380px;
    float: left;
    position: relative;
    margin-bottom: 5px;
    .m-act {
        width: 298px;
        height: 348px;
        float: left;
        border:#e4e4e1 1px solid;
        background-color:white;
        position:relative;
        overflow: hidden;
        .act_img {
            width: 298px;
            height: 200px;
            float: left;
        }
        .act_summry {
            width: 200px;
            height: 75px;
            float: left;
            padding:20px 49px;
            color: #070a22;
            font-size: 18px;
            font-weight: 600;
            text-align:center;
            cursor: pointer;
        }
        .act_footer{
            width: 100%;
            height: 32px;
            float: left;
            text-align: center;
            padding:0 40px;
            box-sizing:border-box;
            p {
                width: auto;
                height: 100%;
                color: #999999;
                cursor: pointer;
                span {
                    float: right;
                    font-size: 12px;
                    line-height: 20px;
                    padding-left:10px;
                }
            }
            .clock {
                float: left;
            }
            .pin {
                float: right;
            }
        }
        .summry_more {
            width: 298px;
            height:348px;
            position:absolute;
            background:url(../images/m-act_bg.jpg) repeat;
            top:350px;
            left: 1;
            z-index: 2;
            display: none;
            .triangle_top {
                width: 0;
                height: 0;
                position: absolute;
                z-index: 3;
                bottom: 0;
                left: 144px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 10px #e8554e solid;
            }
            .summry_text {
                margin:49px 24px;
                width: 250px;
                height: 240px;
                position:absolute;
                color: #ededea;
                font-size: 14px;
                line-height: 20px;
                font-weight: 900px;
                overflow: hidden;
            }
        }
    }
    .down_ {
        width: 298px;
        height: 30px;
        position:absolute;
        background-color: #e8554e;
        color:white;
        text-align: center;
        font-size: 14px;
        font-weight: 900;
        line-height: 30px;
        top: 349px;
        left: 0;
        display: none;
    }
    .z-select {
        box-shadow:-10px 0 10px #d5d5d2, 10px 0 10px #d5d5d2, 0 -10px 10px #d5d5d2, 0 10px 10px #d5d5d2;  
    }
}    
.m-act_1 {
    margin-right: 50px;
}
