$banerHeight: 100px;
$banner: url(../images/return_banner.jpg) !default;
@import "prototype";
#return_main {
    margin:0 auto;
    width: 926px;
    height: 587px;
    padding: 49px 0;
    text-align: center;
    textarea {
        resize: none;
        width: 884px;
        height: 473px;
        border: #e4e4e1 1px solid;
        font-size: 16px;
        line-height: 40px;
        font-weight: 900;
        padding: 20px;
        color: black;
    }
    textarea::-webkit-input-placeholder {
        color: black;
    }
    input[type=submit]{
        width: 140px;
        height: 44px;
        background-color: #e8554e;
        color: white;
        margin-top: 30px;
        text-align: center;
        font-size: 18px;
        line-height: 44px;
    }
}
