$banerHeight: 100px;
$banner: url(../images/sort_banner.jpg) !default;
@import "prototype";
#sort_main {
    margin: 0 auto;
    width: 1000px;
    height: auto;
    overflow: hidden;
    padding-top: 49px;
    #sort_part {
        width: 908px;
        height: 330px;
        border: #e4e4e1 1px solid;
        background-color: white;
        margin-bottom: 49px;
        float: left;
        padding: 25px 45px 35px;
        position: relative;
        .up {
            margin-bottom: 60px;
            margin-right: 0 !important;
        }
        .block {
            width: auto;
            height: auto;
            display: inline-block;
            margin-right: 100px;
            overflow: hidden;
            position:relative;
            font-size: 0;
            vertical-align: top;
            img {
                position: absolute;
                top: 0;
                left: 0;
            }
            .column {
                width: auto;
                height: auto;
                display: inline-block;
                margin-right:31px;
                margin-top: 20px;
                vertical-align: top;
                p {
                    color: black;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 900;
                    cursor: pointer;
                }
                p.z-select {
                    color: #e8554e;
                }
            }
        }
        input[type=submit]{
            width: 100px;
            height: 36px;
            border-radius:18px;
            background-color: #e8554e;
            color: white;
            text-align: center;
            font-size: 18px;
            line-height: 36px;
            position: absolute;
            right: 100px;
            bottom: 100px;
        }
    }
    #sort_data {
        width: 100%;
        height: auto;
        float: left;
    }
}