@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 23, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
input[type='submit'] {
  border: 0;
}

/* line 29, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 31, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 33, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 35, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 37, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 110, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 39, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 123, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/prototype.scss */
body {
  width: 100%;
  height: 100%;
  font: 12px "Microsoft YaHei";
}

/* line 13, ../sass/prototype.scss */
.g-header {
  height: 50px;
  width: 100%;
  float: left;
  /*  g-enter是未登录样式
      g-entered是已登录样式
   */
}
/* line 17, ../sass/prototype.scss */
.g-header .g-logo {
  height: 29px;
  width: 97px;
  float: left;
  margin-left: 41px;
  margin-top: 12px;
}
/* line 24, ../sass/prototype.scss */
.g-header ul.g-left_list {
  height: 18px;
  width: auto;
  padding-top: 10px;
  float: left;
  margin-top: 12px;
}
/* line 30, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li {
  height: 100%;
  float: left;
  width: 32px;
  margin-left: 23px;
}
/* line 35, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li a {
  width: 100%;
  height: 100%;
  float: left;
  display: block;
}
/* line 41, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li div.dots {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 45, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li div.dots .triangle_top {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 3;
  top: 25px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px white solid;
  display: none;
}
/* line 57, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li ul.dots_ul {
  width: 180px;
  height: 20px;
  position: absolute;
  top: 39px;
  left: -50px;
  border-radius: 2px;
  background-color: white;
  padding: 10px 13px;
  display: none;
  z-index: 3;
}
/* line 68, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li ul.dots_ul li, .g-header ul.g-left_list li.g-left_list_li ul.dots_ul span {
  width: auto;
  height: auto;
  float: left;
  color: #999999;
  cursor: pointer;
}
/* line 75, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li ul.dots_ul li a {
  width: auto;
  height: auto;
  color: #999999;
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}
/* line 84, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li ul.dots_ul li a:hover {
  text-decoration: underline;
}
/* line 89, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-block1 {
  background: url(../images/g-banner1.jpg?__sprite) no-repeat;
}
/* line 92, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-block2 {
  background: url(../images/g-banner2.jpg?__sprite) no-repeat;
}
/* line 95, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-block3 {
  width: 64px;
  background: url(../images/g-banner3.jpg?__sprite) no-repeat;
}
/* line 99, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-block4 {
  width: 20px;
  background: url(../images/g-banner4.jpg?__sprite) center no-repeat;
  position: relative;
}
/* line 108, ../sass/prototype.scss */
.g-header .g-enter {
  height: 15px;
  width: 63px;
  float: right;
  margin: 25px 88px 0 0;
  color: black;
  text-decoration: none;
}
/* line 116, ../sass/prototype.scss */
.g-header .g-entered {
  width: 149px;
  height: 100%;
  position: relative;
  float: right;
  margin-right: 49px;
  border: #cbcbcb 1px solid;
  border-width: 0 1px;
}
/* line 124, ../sass/prototype.scss */
.g-header .g-entered .triangle {
  width: 0;
  height: 0;
  border-bottom: 10px solid #cbcbcb;
  border-left: 10px solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 133, ../sass/prototype.scss */
.g-header .g-entered .person_head {
  width: 29px;
  height: 29px;
  float: left;
  margin: 12px 0 0 24px;
}
/* line 139, ../sass/prototype.scss */
.g-header .g-entered .person_name {
  width: auto;
  height: 29px;
  float: left;
  margin: 12px 0 0 12px;
  font-size: 14px;
  line-height: 29px;
  color: #070a22;
  cursor: pointer;
}
/* line 149, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list {
  width: 100%;
  height: 0;
  position: absolute;
  float: left;
  top: 50px;
  overflow: hidden;
  background-color: white;
  z-index: 3;
}
/* line 158, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li {
  width: 100%;
  height: 39px;
  float: left;
}
/* line 162, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li div {
  float: left;
  display: block;
  background-color: white;
  margin: 7px 0 0 24px;
}
/* line 168, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li a {
  width: 100%;
  height: 100%;
  float: left;
  display: block;
}
/* line 174, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li a:hover {
  background-color: #e0e0e0;
}
/* line 177, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li .icon1 {
  width: 27px;
  height: 25px;
  background: url(../images/right-list1.png) no-repeat;
}
/* line 182, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li .icon2 {
  width: 27px;
  height: 18px;
  margin-top: 10px;
  background: url(../images/right-list2.png) no-repeat;
}
/* line 188, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li .icon3 {
  width: 27px;
  height: 28px;
  margin-top: 5px;
  background: url(../images/right-list3.png) no-repeat;
}
/* line 194, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li .icon4 {
  width: 27px;
  height: 22px;
  background: url(../images/right-list4.png) no-repeat;
}
/* line 199, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li p {
  width: auto;
  height: 100%;
  float: left;
  font-size: 14px;
  color: black;
  line-height: 39px;
  margin-left: 20px;
}

/* line 215, ../sass/prototype.scss */
.g-banner {
  height: 600px;
  width: 100%;
  float: left;
  background: url(../images/banner.jpg) no-repeat;
  position: relative;
}
/* line 221, ../sass/prototype.scss */
.g-banner .search {
  width: 800px;
  height: 57px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 228, ../sass/prototype.scss */
.g-banner .search input[type=text] {
  width: 706px;
  height: 55px;
  float: left;
  border: white 1px solid;
  font-size: 24px;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}
/* line 238, ../sass/prototype.scss */
.g-banner .search input[type=submit] {
  width: 53px;
  height: 52px;
  float: left;
  margin-top: 2px;
  margin-left: 20px;
  background: url(../images/search.png) no-repeat;
  cursor: pointer;
}

/* line 249, ../sass/prototype.scss */
.g-mid {
  height: auto;
  width: 100%;
  float: left;
}

/* line 254, ../sass/prototype.scss */
.g-footer {
  height: 123px;
  width: 100%;
  float: left;
  background: url(../images/footer.png) repeat;
  border-top: #cbcbcb 1px solid;
}
/* line 260, ../sass/prototype.scss */
.g-footer .g-footer_main {
  width: 1000px;
  height: 83px;
  padding: 20px 0;
  margin: 0 auto;
}
/* line 265, ../sass/prototype.scss */
.g-footer .g-footer_main .g-logo_big {
  width: 201px;
  height: 83px;
  float: left;
  background: url(../images/logo_big.png) no-repeat;
  margin-right: 55px;
}
/* line 272, ../sass/prototype.scss */
.g-footer .g-footer_main ul.g-footer_links {
  height: 100%;
  width: auto;
  float: left;
  margin-right: 36px;
}
/* line 277, ../sass/prototype.scss */
.g-footer .g-footer_main ul.g-footer_links li {
  width: 100%;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 900;
}
/* line 283, ../sass/prototype.scss */
.g-footer .g-footer_main ul.g-footer_links li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #070a22;
  text-decoration: none;
}
/* line 291, ../sass/prototype.scss */
.g-footer .g-footer_main ul.g-footer_links li.link_head {
  height: 28px;
  color: #e8554e;
  font-size: 18px;
  line-height: 28px;
}
/* line 298, ../sass/prototype.scss */
.g-footer .g-footer_main .g-footer_copy {
  height: 51px;
  width: 450px;
  padding-top: 32px;
  float: left;
}
/* line 304, ../sass/prototype.scss */
.g-footer .g-footer_main .g-footer_copy ul.footer_list li, .g-footer .g-footer_main .g-footer_copy ul.footer_list span {
  width: auto;
  height: auto;
  float: left;
  color: #070a22;
  cursor: pointer;
  font-weight: 900;
}
/* line 312, ../sass/prototype.scss */
.g-footer .g-footer_main .g-footer_copy ul.footer_list li a {
  width: auto;
  height: auto;
  color: #070a22;
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}
/* line 322, ../sass/prototype.scss */
.g-footer .g-footer_main .g-footer_copy p {
  width: 100%;
  float: left;
  font-weight: 900;
  color: #070a22;
}
