@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 23, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
input[type='submit'] {
  border: 0;
}

/* line 29, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 31, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 33, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 35, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 37, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 110, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 39, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 123, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/prototype.scss */
input, textarea {
  outline: none;
}

/* line 12, ../sass/prototype.scss */
.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  width: 0;
  content: ".";
}

/* line 15, ../sass/prototype.scss */
body {
  width: 100%;
  height: 100%;
  font: 12px "Microsoft YaHei";
  background-color: #ededea;
}

/* line 21, ../sass/prototype.scss */
.g-header {
  height: 50px;
  width: 100%;
  float: left;
  background-color: white;
  /*  g-enter是未登录样式
      g-entered是已登录样式
   */
}
/* line 26, ../sass/prototype.scss */
.g-header .g-logo {
  height: 29px;
  width: 97px;
  float: left;
  margin-left: 41px;
  margin-top: 12px;
}
/* line 33, ../sass/prototype.scss */
.g-header ul.g-left_list {
  height: 18px;
  width: auto;
  padding-top: 10px;
  float: left;
  margin-top: 12px;
}
/* line 39, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li {
  height: 100%;
  float: left;
  width: 32px;
  margin-left: 23px;
}
/* line 44, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li a {
  width: 100%;
  height: 100%;
  float: left;
  display: block;
}
/* line 50, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li div.dots {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 54, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li div.dots .triangle_top {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 3;
  top: 25px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px white solid;
  display: none;
}
/* line 66, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li ul.dots_ul {
  width: 180px;
  height: 20px;
  position: absolute;
  top: 39px;
  left: -50px;
  border-radius: 2px;
  background-color: white;
  padding: 10px 13px;
  display: none;
  z-index: 3;
}
/* line 77, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li ul.dots_ul li, .g-header ul.g-left_list li.g-left_list_li ul.dots_ul span {
  width: auto;
  height: auto;
  float: left;
  color: #999999;
  cursor: pointer;
}
/* line 84, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li ul.dots_ul li a {
  width: auto;
  height: auto;
  color: #999999;
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}
/* line 93, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-left_list_li ul.dots_ul li a:hover {
  text-decoration: underline;
}
/* line 98, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-block1 {
  background: url(../images/g-banner1.png) no-repeat;
}
/* line 101, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-block2 {
  background: url(../images/g-banner2.png) no-repeat;
}
/* line 104, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-block3 {
  width: 64px;
  background: url(../images/g-banner3.png) no-repeat;
}
/* line 108, ../sass/prototype.scss */
.g-header ul.g-left_list li.g-block4 {
  width: 20px;
  background: url(../images/g-banner4.png) center no-repeat;
  position: relative;
}
/* line 117, ../sass/prototype.scss */
.g-header .g-enter {
  height: 15px;
  width: 63px;
  float: right;
  margin: 25px 88px 0 0;
  color: black;
  text-decoration: none;
}
/* line 125, ../sass/prototype.scss */
.g-header .g-entered {
  width: 149px;
  height: 100%;
  position: relative;
  float: right;
  margin-right: 49px;
  border: #cbcbcb 1px solid;
  border-width: 0 1px;
}
/* line 133, ../sass/prototype.scss */
.g-header .g-entered .triangle {
  width: 0;
  height: 0;
  border-bottom: 10px solid #cbcbcb;
  border-left: 10px solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 142, ../sass/prototype.scss */
.g-header .g-entered .person_head {
  width: 29px;
  height: 29px;
  float: left;
  margin: 12px 0 0 24px;
}
/* line 148, ../sass/prototype.scss */
.g-header .g-entered .person_name {
  width: auto;
  height: 29px;
  float: left;
  margin: 12px 0 0 12px;
  font-size: 14px;
  line-height: 29px;
  color: #070a22;
  cursor: pointer;
}
/* line 158, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list {
  width: 100%;
  height: 0;
  position: absolute;
  float: left;
  top: 50px;
  overflow: hidden;
  background-color: white;
  z-index: 3;
}
/* line 167, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li {
  width: 100%;
  height: 39px;
  float: left;
}
/* line 171, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li div {
  float: left;
  display: block;
  background-color: white;
  margin: 7px 0 0 24px;
}
/* line 177, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li a {
  width: 100%;
  height: 100%;
  float: left;
  display: block;
}
/* line 183, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li a:hover {
  background-color: #e0e0e0;
}
/* line 186, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li .icon1 {
  width: 27px;
  height: 25px;
  background: url(../images/right-list1.png) no-repeat;
}
/* line 191, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li .icon2 {
  width: 27px;
  height: 18px;
  margin-top: 10px;
  background: url(../images/right-list2.png) no-repeat;
}
/* line 197, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li .icon3 {
  width: 27px;
  height: 28px;
  margin-top: 5px;
  background: url(../images/right-list3.png) no-repeat;
}
/* line 203, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li .icon4 {
  width: 27px;
  height: 22px;
  background: url(../images/right-list4.png) no-repeat;
}
/* line 208, ../sass/prototype.scss */
.g-header .g-entered ul.g-right_list li p {
  width: auto;
  height: 100%;
  float: left;
  font-size: 14px;
  color: black;
  line-height: 39px;
  margin-left: 20px;
}
/* line 221, ../sass/prototype.scss */
.g-header .g-search {
  width: 446px;
  height: 35px;
  float: right;
  margin: 8px 14px 0 0;
}
/* line 226, ../sass/prototype.scss */
.g-header .g-search input[type=text] {
  width: 388px;
  height: 33px;
  float: left;
  border: #dddcdc 1px solid;
  font-size: 18px;
  padding: 0 5px;
  color: black;
}
/* line 235, ../sass/prototype.scss */
.g-header .g-search input[type=submit] {
  width: 33px;
  height: 33px;
  float: left;
  margin-top: 2px;
  margin-left: 13px;
  background: url(../images/search_head.png) no-repeat;
  cursor: pointer;
  background-size: 100%;
}

/* line 248, ../sass/prototype.scss */
.g-banner {
  height: 600px;
  width: 100%;
  float: left;
  background: url(../images/banner.jpg) no-repeat;
  position: relative;
}
/* line 254, ../sass/prototype.scss */
.g-banner .search {
  width: 800px;
  height: 57px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 261, ../sass/prototype.scss */
.g-banner .search input[type=text] {
  width: 706px;
  height: 55px;
  float: left;
  border: white 1px solid;
  font-size: 24px;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}
/* line 271, ../sass/prototype.scss */
.g-banner .search input[type=submit] {
  width: 53px;
  height: 52px;
  float: left;
  margin-top: 2px;
  margin-left: 20px;
  background: url(../images/search.png) no-repeat;
  cursor: pointer;
}

/* line 282, ../sass/prototype.scss */
.g-mid {
  height: auto;
  width: 100%;
  float: left;
}

/* line 287, ../sass/prototype.scss */
.g-footer {
  height: 123px;
  width: 100%;
  float: left;
  background: url(../images/footer.png) repeat;
  border-top: #cbcbcb 1px solid;
}
/* line 293, ../sass/prototype.scss */
.g-footer .g-footer_main {
  width: 1000px;
  height: 83px;
  padding: 20px 0;
  margin: 0 auto;
}
/* line 298, ../sass/prototype.scss */
.g-footer .g-footer_main .g-logo_big {
  width: 201px;
  height: 83px;
  float: left;
  background: url(../images/logo_big.png) no-repeat;
  margin-right: 55px;
}
/* line 305, ../sass/prototype.scss */
.g-footer .g-footer_main ul.g-footer_links {
  height: 100%;
  width: auto;
  float: left;
  margin-right: 36px;
}
/* line 310, ../sass/prototype.scss */
.g-footer .g-footer_main ul.g-footer_links li {
  width: 100%;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 900;
}
/* line 316, ../sass/prototype.scss */
.g-footer .g-footer_main ul.g-footer_links li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #070a22;
  text-decoration: none;
}
/* line 324, ../sass/prototype.scss */
.g-footer .g-footer_main ul.g-footer_links li.link_head {
  height: 28px;
  color: #e8554e;
  font-size: 18px;
  line-height: 28px;
}
/* line 331, ../sass/prototype.scss */
.g-footer .g-footer_main .g-footer_copy {
  height: 51px;
  width: 450px;
  padding-top: 32px;
  float: left;
}
/* line 337, ../sass/prototype.scss */
.g-footer .g-footer_main .g-footer_copy ul.footer_list li, .g-footer .g-footer_main .g-footer_copy ul.footer_list span {
  width: auto;
  height: auto;
  float: left;
  color: #070a22;
  cursor: pointer;
  font-weight: 900;
}
/* line 345, ../sass/prototype.scss */
.g-footer .g-footer_main .g-footer_copy ul.footer_list li a {
  width: auto;
  height: auto;
  color: #070a22;
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}
/* line 355, ../sass/prototype.scss */
.g-footer .g-footer_main .g-footer_copy p {
  width: 100%;
  float: left;
  font-weight: 900;
  color: #070a22;
}

/* line 364, ../sass/prototype.scss */
.m-act_out {
  width: 300px;
  height: 380px;
  float: left;
  position: relative;
  margin-bottom: 5px;
}
/* line 370, ../sass/prototype.scss */
.m-act_out .m-act {
  width: 298px;
  height: 348px;
  float: left;
  border: #e4e4e1 1px solid;
  background-color: white;
  position: relative;
  overflow: hidden;
}
/* line 378, ../sass/prototype.scss */
.m-act_out .m-act .act_img {
  width: 298px;
  height: 200px;
  float: left;
}
/* line 383, ../sass/prototype.scss */
.m-act_out .m-act .act_summry {
  width: 200px;
  height: 75px;
  float: left;
  padding: 20px 49px;
  color: #070a22;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
/* line 394, ../sass/prototype.scss */
.m-act_out .m-act .act_footer {
  width: 100%;
  height: 32px;
  float: left;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}
/* line 401, ../sass/prototype.scss */
.m-act_out .m-act .act_footer p {
  width: auto;
  height: 100%;
  color: #999999;
  cursor: pointer;
}
/* line 406, ../sass/prototype.scss */
.m-act_out .m-act .act_footer p span {
  float: right;
  font-size: 12px;
  line-height: 20px;
  padding-left: 10px;
}
/* line 413, ../sass/prototype.scss */
.m-act_out .m-act .act_footer .clock {
  float: left;
}
/* line 416, ../sass/prototype.scss */
.m-act_out .m-act .act_footer .pin {
  float: right;
}
/* line 420, ../sass/prototype.scss */
.m-act_out .m-act .summry_more {
  width: 298px;
  height: 348px;
  position: absolute;
  background: url(../images/m-act_bg.jpg) repeat;
  top: 350px;
  left: 1;
  z-index: 2;
  display: none;
}
/* line 429, ../sass/prototype.scss */
.m-act_out .m-act .summry_more .triangle_top {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 144px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px #e8554e solid;
}
/* line 440, ../sass/prototype.scss */
.m-act_out .m-act .summry_more .summry_text {
  margin: 49px 24px;
  width: 250px;
  height: 240px;
  position: absolute;
  color: #ededea;
  font-size: 14px;
  line-height: 20px;
  font-weight: 900px;
  overflow: hidden;
}
/* line 453, ../sass/prototype.scss */
.m-act_out .down_ {
  width: 298px;
  height: 30px;
  position: absolute;
  background-color: #e8554e;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  line-height: 30px;
  top: 349px;
  left: 0;
  display: none;
}
/* line 467, ../sass/prototype.scss */
.m-act_out .z-select {
  box-shadow: -10px 0 10px #d5d5d2, 10px 0 10px #d5d5d2, 0 -10px 10px #d5d5d2, 0 10px 10px #d5d5d2;
}

/* line 471, ../sass/prototype.scss */
.m-act_1 {
  margin-right: 50px;
}

/* line 3, ../sass/result.scss */
#result_main {
  margin: 0 auto;
  width: 1000px;
  height: auto;
  padding-top: 40px;
}

/* line 9, ../sass/result.scss */
.m-act_out {
  margin-bottom: 25px;
}
